body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* flex-wrap: wrap; */
    color: #021C69 !important;
    font-size: 18px !important;
    font-weight: bold;
}

.box {
    width: 98%;
    height: 50px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    resize: vertical;
    box-sizing: border-box;
    color: #021C69;
    border:1px solid #021C69; 
}

sup {
    color: rgb(198, 49, 49);
    font-size: 18px;
    font-weight: bold;
    vertical-align: super;
    position: relative;
    top: -2px;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    font-size: 26px;
}

label {
    margin-top: 32px;
}


.a4-sheet {
    width: 100%;
    max-width: 1000px;
    height: auto;
    background: white;
    padding: 30px;
    border: 2px solid #021C69;
    box-shadow: 0 0 10px rgba(2, 28, 105, 0.5);
    box-sizing: border-box;
    min-height: fit-content;

}

form {
    width: 100%;
}

.form-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.form-half {
    flex: 1 1 100%;
    min-width: 0;
}

input,
select,
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}


.form-row label {
    font-size: 18px;
    font-weight: bold;
    font-weight: bold;
    color: #021C69;
    margin-top: 0;
}

@media(min-width: 768px) {
    .form-row label {
        flex-basis: 250px;
    }
}

.form-row input,
.form-row select,
.form-row textarea {
    flex: 1;
    min-width: 200px;
    height: 50px;
    padding: 10px;
    border: 2px solid #021C69;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 0;
    color: #021C69 !important;
    font-size: 18px;
    font-weight: bold;

}

.form-row input:hover,
.form-row select:hover,
.form-row textarea:hover {
    border: 3px solid #021C69 !important;
    color: #021C69 !important;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}

.form-buttons input[type="submit"],
.form-buttons input[type="reset"] {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #021C69;
    /* background-color: #dbe9f1; */
    background-color: #021C69;
    ;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;


}


.table-wrapper {

    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: #021C69 !important;
    font-size: 18px !important;
    font-weight: bold;
}

th,
td {
    border: 1px solid #021C69;
    /* padding: 10px; */
    text-align: center;
    vertical-align: middle;
}

h4 {

    display: block;
    font-weight: bold;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;

    color: #021C69 !important;
    font-size: 18px !important;
}


.custom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    /* margin-left: 29px; */
}

.custom-radio input[type="radio"] {
    display: none;
}

.radio-circle {
    height: 20px;
    width: 20px;
    border: 2px solid #021C69;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.custom-radio input[type="radio"]:checked+.radio-circle::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: #021C69;
    border-radius: 50%;
}

/* bullet points new style start*/
/* .radio-circle {
    height: 30px;
    width: 30px;
    border: 2px solid #021C69;
    ;
    border-radius: 20%;
    margin-right: 0px;
}

.custom-radio input[type="radio"]:checked+.radio-circle::after {
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 20%;
}

.custom-radio {
    margin-left: 0px;
} */

/* end */

@media screen and (max-width: 700px) {
    .a4-sheet {
        padding: 15px;
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        word-wrap: break-word;
        font-size: 10px !important;
        font-weight: 400;
    }


    th:nth-child(1),
    td:nth-child(1) {
        display: none;
    }
/* 
    .radio-circle {
        height: 30px;
        width: 30px;
        border: 2px solid #021C69;
        ;
        border-radius: 20%;
        margin-right: 0px;
    }

    .custom-radio input[type="radio"]:checked+.radio-circle::after {
        top: 1px;
        left: 1px;
        width: 25px;
        height: 25px;
        border-radius: 20%;
    } */

    th,
    td {
        vertical-align: middle;
        text-align: center;
    }

    .form-row input,
    .form-row select,
    .form-row textarea {
        margin-top: -5px;


    }

    input[type="text"].box {
        margin-top: 12px;
    }
}

.required-note {
    color: rgb(186, 70, 70);
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    text-align: right;
}

input[type="text"].box {
    margin-top: 10px;
    margin-bottom: 25px;
}


@media screen and (min-width: 768px) {
    .form-row label {
        flex-basis: 350px;
    }
}


@media screen and (max-width: 767px) {

    #header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #header img {
        height: 80px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }


    table {
        font-size: 10px;
        min-width: 100%;
    }

    th,
    td {
        padding: 5px;
        vertical-align: top;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 35%;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 8%;
    }

    th:not(:nth-child(1)):not(:nth-child(2)),
    td:not(:nth-child(1)):not(:nth-child(2)) {
        width: 14.2%;
    }


    .form-buttons {
        flex-direction: column;
    }

    .form-buttons input,
    .form-buttons button {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label,
    .form-row input,
    .form-row select {
        width: 100%;
        margin-top: 10px;


    }

    .required-note {
        text-align: right;
        font-size: 14px;
    }

    .custom-radio {
        margin-left: 0;
        font-size: 12px;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 17%;
    }
}

input::placeholder {
    color: #021C69 !important;
    font-size: 18px !important;

}
select option{
    font-weight: bold;
}

input:active , input::selection, input:focus-visible, input:focus{
    outline:none;
    border:2px solid #021C69;
}